/* 修改纵向滚动条的轨道（背景）样式 */
/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px; /* 宽度 */
  height: 8px; /* 高度 */
}

/* 修改纵向滚动条的滑块（拖动条）样式 */
::-webkit-scrollbar-thumb {
  border-radius: 4px; /* 边框半径 */
  background-color: rgb(204 204 204); /* 滑块背景颜色 */
}

/* 修改纵向滚动条轨道的轨道颜色 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 轨道背景颜色 */
}

/* 修改纵向滚动条滑块在hover状态时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(178 178 178); /* 滑块背景颜色 */
}

/* 修改横向滚动条的轨道（背景）样式 */
::-webkit-scrollbar-horizontal {
  height: 8px; /* 高度 */
}

/* 修改横向滚动条的滑块（拖动条）样式 */
::-webkit-scrollbar-thumb-horizontal {
  border-radius: 4px; /* 边框半径 */
  background-color: rgb(204 204 204); /* 滑块背景颜色 */
}

/* 修改横向滚动条轨道的轨道颜色 */
::-webkit-scrollbar-track-horizontal {
  background-color: #f1f1f1; /* 轨道背景颜色 */
}

/* 修改横向滚动条滑块在hover状态时的样式 */
::-webkit-scrollbar-thumb-horizontal:hover {
  background-color: rgb(178 178 178); /* 滑块背景颜色 */
}

@font-face {
  font-family: DINAlternate-Bold;
  src: url("/fonts/DIN-Alternate-Bold.ttf");
}

@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("/fonts/YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: PangMenZhengDao;
  src: url("/fonts/PangMenZhengDaoBiao.ttf");
}

@font-face {
  font-family: Orbitron;
  src: url("/fonts/Orbitron.ttf");
}

@font-face {
  font-family: "PangMenZhengDaoBiao-2";
  src: url("/fonts/PangMenZhengDaoBiaoTiTiMianFeiBan-2.ttf");
}

@font-face {
  font-family: SHOUHUTYPE-BOLD;
  src: url("/fonts/360shouhuType-Bold.otf");
}

@font-face {
  font-family: SHOUHUTYPE-Regular;
  src: url("/fonts/360shouhuType-Regular.otf");
}

@font-face {
  font-family: PingFangSC-Medium;
  src: url("/fonts/pingfangsc-medium.otf");
}

@font-face {
  font-family: PingFangSC-Regular;
  src: url("/fonts/pingfangsc-regular.otf");
}

@font-face {
  font-family: PingFangSC-Semibold;
  src: url("/fonts/pingfangsc-semibold.otf");
}

body {
  height: 100vh;
  overflow: hidden;
  font-family:
    "PingFang SC",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Microsoft YaHei",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #05080e;
}
